.shopping-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.shopping-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-item-deleteBtn {
}

.turn-gray {
  color: lightgray;
}

.linethrough {
  text-decoration: line-through !important;
}
