.gamelist-easy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.gamelist-medium {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.gamelist-hard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
