* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-style: sans-serif;
  line-height: 1;
  color: #555;
}

.center-text {
  text-align: center;
}

.heading-primary {
  font-weight: 700;
  font-size: 5.2rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  color: #333;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter--main {
  display: flex;
}
