.section-code {
  padding: 6.4rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  width: 3rem;
  height: 3rem;
  /* padding: 3rem; */
  border: 2px solid black;
}
