.section-game {
  padding: 3.2rem;
}

.game {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.game-item {
  border: 2px solid black;
  text-align: center;
  padding: 4.8rem;
  background-color: currentColor;
  transition: all 0.3s;
}

.game-item.clicked {
  background-color: white;
}

.hidden {
  visibility: hidden;
}

.displayNone {
  display: none;
}

.click-off {
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal p {
  background-color: blue;
  padding: 1.2rem 2.4rem;
  color: white;
  cursor: pointer;
}

.active {
  display: flex;
}
